csiDriver:
  # should be globally unique for a given cluster
  name: "org.democratic-csi.nfs"

storageClasses:
- name: freenas-nfs-csi
  defaultClass: false
  reclaimPolicy: Delete
  volumeBindingMode: Immediate
  allowVolumeExpansion: true
  parameters:
    fsType: nfs

  mountOptions:
  - noatime
  - nfsvers=4
  secrets:
    provisioner-secret:
    controller-publish-secret:
    node-stage-secret:
    node-publish-secret:
    controller-expand-secret:

driver:
  config:
    driver: freenas-nfs
    instance_id:
    httpConnection:
      protocol: http
      host: truenas.lab.thewortmans.org
      port: 80
      apiVersion: 2
      allowInsecure: true
      apiKey: 6-CKqiHhEGDG3RU2WcsWs4oury3KTTnuvMm8rJnNNsyCNfx78GoYrZ1vFxL0xSgyCE
    sshConnection:
      host: truenas.lab.thewortmans.org
      port: 22
      username: root
      privateKey: |
        -----BEGIN OPENSSH PRIVATE KEY-----
        b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
        QyNTUxOQAAACBbPBIqd50SahnhyBDreqJgcDuEVLBmGQ48zVb4JWeUSgAAAJjMna6czJ2u
        nAAAAAtzc2gtZWQyNTUxOQAAACBbPBIqd50SahnhyBDreqJgcDuEVLBmGQ48zVb4JWeUSg
        AAAEA2u76X0ansjjvdTQ9RLQ99u/XDcc4wzfLHEmVgjQLc4Vs8Eip3nRJqGeHIEOt6omBw
        O4RUsGYZDjzNVvglZ5RKAAAADmRlbW9jcmF0aWMtY3NpAQIDBAUGBw==
        -----END OPENSSH PRIVATE KEY-----
    zfs:
      datasetParentName: tank/k8s/nfs/vols
      detachedSnapshotsDatasetParentName: tank/k8s/nfs/snaps
      datasetEnableQuotas: true
      datasetEnableReservation: false
      datasetPermissionsMode: "0777"
      datasetPermissionsUser: root
      datasetPermissionsGroup: wheel
    nfs:
      shareHost: 192.168.2.24
      shareAlldirs: false
      shareAllowedHosts: []
      shareAllowedNetworks: []
      shareMaprootUser: root
      shareMaprootGroup: wheel
      shareMapallUser: ""
      shareMapallGroup: ""
