# Democratic-CSI iSCSI values for TrueNAS SCALE
# Updated to use 'next' image tag for TrueNAS SCALE 24.04+ compatibility
# Fixes: API 404 error for /api/v2.0/iscsi/targetgroup endpoint

csiDriver:
  # should be globally unique for a given cluster
  name: "org.democratic-csi.iscsi"

# Storage class configuration
storageClasses:
- name: freenas-iscsi-csi
  defaultClass: false
  reclaimPolicy: Delete
  volumeBindingMode: Immediate
  allowVolumeExpansion: true
  parameters:
    # for block-based storage can be ext3, ext4, xfs
    fsType: ext4
  mountOptions: []
  secrets:
    provisioner-secret:
    controller-publish-secret:
    node-stage-secret:
    node-publish-secret:
    controller-expand-secret:

# Driver configuration - includes full config inline
driver:
  config:
    driver: freenas-iscsi
    instance_id:
    httpConnection:
      protocol: http
      host: truenas.lab.thewortmans.org
      port: 80
      apiKey: 6-CKqiHhEGDG3RU2WcsWs4oury3KTTnuvMm8rJnNNsyCNfx78GoYrZ1vFxL0xSgyCE
      allowInsecure: true
      apiVersion: 2
    sshConnection:
      host: truenas.lab.thewortmans.org
      port: 22
      username: root
      privateKey: |
        -----BEGIN OPENSSH PRIVATE KEY-----
        b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
        QyNTUxOQAAACBbPBIqd50SahnhyBDreqJgcDuEVLBmGQ48zVb4JWeUSgAAAJjMna6czJ2u
        nAAAAAtzc2gtZWQyNTUxOQAAACBbPBIqd50SahnhyBDreqJgcDuEVLBmGQ48zVb4JWeUSg
        AAAEA2u76X0ansjjvdTQ9RLQ99u/XDcc4wzfLHEmVgjQLc4Vs8Eip3nRJqGeHIEOt6omBw
        O4RUsGYZDjzNVvglZ5RKAAAADmRlbW9jcmF0aWMtY3NpAQIDBAUGBw==
        -----END OPENSSH PRIVATE KEY-----
    zfs:
      cli:
        paths:
          zfs: /usr/sbin/zfs
          zpool: /usr/sbin/zpool
          sudo: /usr/bin/sudo
          chroot: /usr/sbin/chroot
        sudoEnabled: false
      datasetParentName: tank/k8s/volumes
      detachedSnapshotsDatasetParentName: tank/k8s/snapshots
      datasetEnableQuotas: true
      datasetEnableReservation: false
      datasetPermissionsMode: "0770"
      datasetPermissionsUser: 0
      datasetPermissionsGroup: 0
    iscsi:
      targetPortal: "truenas.lab.thewortmans.org:3260"
      targetPortals: []
      interface:
      namePrefix: csi-
      nameSuffix: "-cluster"
      targetGroups:
        - targetGroupPortalGroup: 2
          targetGroupInitiatorGroup: 1
          targetGroupAuthType: None
      extentInsecureTpc: true
      extentXenCompat: false
      extentDisablePhysicalBlocksize: true
      extentBlocksize: 512
      extentRpm: "SSD"
      extentAvailThreshold: 0

# Controller configuration with updated image
controller:
  driver:
    image:
      registry: docker.io/democraticcsi/democratic-csi
      tag: next
      pullPolicy: Always
    logLevel: debug

# Node configuration with updated image
node:
  driver:
    image:
      registry: docker.io/democraticcsi/democratic-csi
      tag: next
      pullPolicy: Always
    logLevel: debug
