apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: metallb
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  project: default
  destination:
    namespace: metallb-system
    server: https://kubernetes.default.svc
  sources:
    - repoURL: https://metallb.github.io/metallb
      targetRevision: 0.14.8
      chart: metallb
      helm:
        valueFiles:
          - $values/k8s/metallb/values.yaml
    - repoURL: https://github.com/wortmanb/homelab.git
      path: k8s/metallb
      targetRevision: main
      ref: values
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
