apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  project: default
  destination:
    namespace: traefik
    server: https://kubernetes.default.svc
  sources:
    - repoURL: https://traefik.github.io/charts
      targetRevision: 30.0.2
      chart: traefik
      helm:
        valueFiles:
          - $values/k8s/traefik/values.yaml
    - repoURL: git@github.com/wortmanb/homelab.git
      path: k8s/traefik
      targetRevision: main
      ref: values
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
