# Jackett Helm Values Configuration
# Using bjw-s app-template chart v3.5.1
# Chart: https://bjw-s-labs.github.io/helm-charts/

controllers:
  main:
    containers:
      main:
        image:
          repository: lscr.io/linuxserver/jackett
          tag: latest
          pullPolicy: IfNotPresent

        env:
          PUID: "1000"
          PGID: "1000"
          TZ: "America/New_York"

        probes:
          liveness:
            enabled: true
            spec:
              tcpSocket:
                port: 9117
              initialDelaySeconds: 30
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness:
            enabled: true
            spec:
              tcpSocket:
                port: 9117
              initialDelaySeconds: 10
              periodSeconds: 5
              timeoutSeconds: 1
              failureThreshold: 3

service:
  main:
    controller: main
    type: NodePort
    ports:
      http:
        port: 9117
        targetPort: 9117
        protocol: TCP

ingress:
  main:
    enabled: false
    hosts: []

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    existingClaim: jackett-config
    globalMounts:
      - path: /config

  downloads:
    enabled: true
    type: persistentVolumeClaim
    existingClaim: jackett-downloads
    globalMounts:
      - path: /downloads
