# Unpackerr Helm Values Configuration
# Using bjw-s app-template chart v3.5.1
# Chart: https://bjw-s-labs.github.io/helm-charts/

controllers:
  main:
    containers:
      main:
        image:
          repository: golift/unpackerr
          tag: latest
          pullPolicy: Always

        env:
          PUID: "1000"
          PGID: "1000"
          TZ: "America/New_York"
          UNPACKERR_WEB_ENABLED: "true"
          UN_SONARR_0_DELETE_ORIG: "true"
          UN_RADARR_0_DELETE_ORIG: "true"
          UN_PATHS_0_PATH: "/data/downloads"

        envFrom:
          - secretRef:
              name: unpackerr-secrets

        probes:
          liveness:
            enabled: false
          readiness:
            enabled: false
          startup:
            enabled: false

service:
  main:
    controller: main
    ports:
      http:
        port: 5656
        targetPort: 5656
        protocol: TCP

ingress:
  main:
    enabled: false
    hosts: []

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    existingClaim: unpackerr-config
    globalMounts:
      - path: /config

  media:
    enabled: true
    type: persistentVolumeClaim
    existingClaim: media-storage-pvc
    globalMounts:
      - path: /data
