[elasticsearch_bootstrap]
es04

[elasticsearch_masters]
es01
es02
es03

[elasticsearch_hot]
es05
es06

[elasticsearch_frozen]
es07
es08
es09

[elasticsearch_ml]
es10
es11
es12

[kibana_nodes]
kibana

[elasticsearch_all:children]
elasticsearch_bootstrap
elasticsearch_masters
elasticsearch_hot
elasticsearch_frozen
elasticsearch_bootstrap
elasticsearch_ml

[elasticsearch_all:vars]
elasticsearch_version=9.1.4
cluster_name=lab
discovery_seed_hosts=["es01","es02","es03"]
cluster_initial_master_nodes=["es01","es02","es03"]
elasticsearch_username=CHANGEME
elasticsearch_password=CHANGEME
s3_access_key_id=CHANGEME
s3_secret_access_key=CHANGEME
s3_bucket=bdw-lab-backups

[kibana_nodes:vars]
kibana_version=9.1.3
elasticsearch_hosts=["http://es01:9200","http://es02:9200","http://es03:9200"]
