eck-elasticsearch:
  version: 9.1.0
  fullnameOverride: lab

  nodeSets:
    - name: masters
      count: 3
      config:
        node.roles: ["remote_cluster_client","master"]
        node.store.allow_mmap: false
      podTemplate:
        spec:
          containers:
            - name: elasticsearch
              resources:
                limits:
                  memory: 8Gi
                  cpu: 2
      volumeClaimTemplates:
        - metadata:
            name: elasticsearch-data
          spec:
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 1Ti
    - name: hot
      count: 3
      config:
        node.roles: ["remote_cluster_client","data_hot", "data_content", "ingest"]
        node.store.allow_mmap: false
      podTemplate:
        spec:
          containers:
            - name: elasticsearch
              resources:
                limits:
                  memory: 16Gi
                  cpu: 4
      volumeClaimTemplates:
        - metadata:
            name: elasticsearch-data
          spec:
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 5Ti
    - name: warm
      count: 0
      config:
        node.roles: ["remote_cluster_client","data_warm"]
        node.store.allow_mmap: false
      podTemplate:
        spec:
          containers:
            - name: elasticsearch
              resources:
                limits:
                  memory: 16Gi
                  cpu: 2
      volumeClaimTemplates:
        - metadata:
            name: elasticsearch-data
          spec:
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 10Ti
    - name: frozen
      count: 3
      config:
        node.roles: ["remote_cluster_client","data_frozen"]
        node.store.allow_mmap: false
      podTemplate:
        spec:
          containers:
            - name: elasticsearch
              resources:
                limits:
                  memory: 8Gi
                  cpu: 2
      volumeClaimTemplates:
        - metadata:
            name: elasticsearch-data
          spec:
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 10Ti
  secureSettings:
    - secretName: s3-creds
  http:
    service:
      spec:
        type: NodePort

eck-kibana:
  fullnameOverride: lab
  version: 9.1.0
  labels: {}
  annotations: {}
  count: 1
  elasticsearchRef:
    name: lab
    namespace: elastic-stack
  ingress:
    enabled: false

  http:
    service:
      spec:
        type: NodePort
  config:
    xpack.fleet.agents.elasticsearch.hosts: ["https://elasticsearch-es-http.elastic-stack.svc:9200"]
    xpack.fleet.agents.fleet_server.hosts: ["https://fleet-server-agent-http.elastic-stack.svc:8220"]
    xpack.fleet.packages:
    - name: system
      version: latest
    - name: elastic_agent
      version: latest
    - name: fleet_server
      version: latest
    - name: kubernetes
      version: latest
    xpack.fleet.agentPolicies:
    - name: Fleet Server on ECK policy
      id: eck-fleet-server
      namespace: elastic-stack
      is_managed: true
      monitoring_enabled:
      - logs
      - metrics
      package_policies:
      - name: fleet_server-1
        id: fleet_server-1
        package:
          name: fleet_server
    - name: Elastic Agent on ECK policy
      id: eck-agent
      namespace: elastic-stack
      is_managed: true
      monitoring_enabled:
      - logs
      - metrics
      unenroll_timeout: 900
      package_policies:
      - package:
          name: system
        name: system-1
      - package:
          name: kubernetes
        name: kubernetes-1

# Enable and configure the Fleet Server

#eck-fleet-server:
#  enabled: true
#  annotations:
#    eck.k8s.elastic.co/license: enterprise
#  spec:
#    elasticsearchRefs:
#      - name: lab
#        namespace: elastic-stack
#    kibanaRef:
#      name: lab
#    version: 9.1.0  # Specify the Elastic Stack version (match with Elasticsearch/Kibana)
#    deployment:
#      replicas: 1
#      podTemplate:
#        spec:
#          containers:
#            - name: fleet-server
#              resources:
#                requests:
#                  cpu: "500m"
#                  memory: "512Mi"

eck-fleet-server:
  enabled: true

  fullnameOverride: "fleet-server"

  deployment:
    replicas: 1
    podTemplate:
      spec:
        serviceAccountName: fleet-server
        automountServiceAccountToken: true

  # Agent policy to be used.
  policyID: eck-fleet-server
  kibanaRef:
    name: lab
    namespace: elastic-stack
  elasticsearchRefs: 
      - name: lab
        namespace: elastic-stack

eck-agent:
  enabled: true
  
  # Agent policy to be used.
  policyID: eck-agent
  # Reference to ECK-managed Kibana instance.
  #
  kibanaRef:
    name: lab
    namespace: elastic-stack
  # Reference to ECK-managed Fleet instance.
  #
  fleetServerRef:
    name: fleet-server
    namespace: elastic-stack
  
  mode: fleet
  daemonSet:
    podTemplate:
      spec:
        serviceAccountName: elastic-agent
        hostNetwork: true
        dnsPolicy: ClusterFirstWithHostNet
        automountServiceAccountToken: true
        securityContext:
          runAsUser: 0
  
