eck-elasticsearch:
  version: 9.0.2
  fullnameOverride: lab

  nodeSets:
    - name: masters
      count: 3
      config:
        node.roles: ["master"]
        node.store.allow_mmap: false
      podTemplate:
        spec:
          containers:
            - name: elasticsearch
              resources:
                limits:
                  memory: 8Gi
                  cpu: 2
      volumeClaimTemplates:
        - metadata:
            name: elasticsearch-data
          spec:
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 1Ti
    - name: hot
      count: 3
      config:
        node.roles: ["data_hot", "data_content", "ingest"]
        node.store.allow_mmap: false
      podTemplate:
        spec:
          containers:
            - name: elasticsearch
              resources:
                limits:
                  memory: 16Gi
                  cpu: 4
      volumeClaimTemplates:
        - metadata:
            name: elasticsearch-data
          spec:
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 5Ti
    - name: warm
      count: 0
      config:
        node.roles: ["data_warm"]
        node.store.allow_mmap: false
      podTemplate:
        spec:
          containers:
            - name: elasticsearch
              resources:
                limits:
                  memory: 16Gi
                  cpu: 2
      volumeClaimTemplates:
        - metadata:
            name: elasticsearch-data
          spec:
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 10Ti
    - name: frozen
      count: 3
      config:
        node.roles: ["data_frozen"]
        node.store.allow_mmap: false
      podTemplate:
        spec:
          containers:
            - name: elasticsearch
              resources:
                limits:
                  memory: 8Gi
                  cpu: 2
      volumeClaimTemplates:
        - metadata:
            name: elasticsearch-data
          spec:
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 10Ti
#eck-kibana:
#  version: 9.0.0
#  labels: {}
#  annotations: {}
#  count: 1
#  elasticsearchRef:
#    name: elasticsearch
#    namespace: elastic-stack
#  http:
#    service:
#      spec:
#        type: LoadBalancer
#    tls:
#     selfSignedCertificate:
#        subjectAltNames:
#          - ip: 192.168.10.50
#          - ip: 192.168.10.56
#          - dns: kibana.lab.thewortmans.org
#          - dns: kibana.bwortman.us
#  config:
#    server:
#      publicBaseUrl: "https://kibana.bwortman.us"
