eck-elasticsearch:
  version: 9.1.0
  fullnameOverride: lab

  nodeSets:
    - name: masters
      count: 3
      config:
        node.roles: ["remote_cluster_client","master"]
        node.store.allow_mmap: false
      podTemplate:
        spec:
          containers:
            - name: elasticsearch
              resources:
                limits:
                  memory: 8Gi
                  cpu: 2
      volumeClaimTemplates:
        - metadata:
            name: elasticsearch-data
          spec:
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 1Ti
    - name: hot
      count: 3
      config:
        node.roles: ["remote_cluster_client","data_hot", "data_content", "ingest"]
        node.store.allow_mmap: false
      podTemplate:
        spec:
          containers:
            - name: elasticsearch
              resources:
                limits:
                  memory: 16Gi
                  cpu: 4
      volumeClaimTemplates:
        - metadata:
            name: elasticsearch-data
          spec:
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 5Ti
    - name: warm
      count: 0
      config:
        node.roles: ["remote_cluster_client","data_warm"]
        node.store.allow_mmap: false
      podTemplate:
        spec:
          containers:
            - name: elasticsearch
              resources:
                limits:
                  memory: 16Gi
                  cpu: 2
      volumeClaimTemplates:
        - metadata:
            name: elasticsearch-data
          spec:
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 10Ti
    - name: frozen
      count: 3
      config:
        node.roles: ["remote_cluster_client","data_frozen"]
        node.store.allow_mmap: false
      podTemplate:
        spec:
          containers:
            - name: elasticsearch
              resources:
                limits:
                  memory: 8Gi
                  cpu: 2
      volumeClaimTemplates:
        - metadata:
            name: elasticsearch-data
          spec:
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 10Ti
  secureSettings:
    - secretName: s3-creds
  http:
    service:
      spec:
        type: NodePort

eck-kibana:
  fullnameOverride: lab
  version: 9.1.0
  labels: {}
  annotations: {}
  count: 1
  elasticsearchRef:
    name: lab
    namespace: elastic-stack
  ingress:
    enabled: false

  http:
    service:
      spec:
        type: NodePort

#  config:
#    elasticsearch:
#      ssl:
#        certificateAuthoritiesFile: /usr/share/kibana/config/elasticsearch-ca/tls.crt
#    server:
#      ssl:
#        enabled: true
#      port: 5601
#      host: 0.0.0.0
#      publicBaseUrl: "http://kibana.lab.thewortmans.org"
#
eck-fleet-server:
  version: 9.1.0
  deployment:
    replicas: 1
    podTemplate:
      spec:
        serviceAccountName: fleet-server
        automountServiceAccountToken: true
  elasticsearchRefs:
    name: lab
    namespace: elastic-stack
  kibanaRef:
    name: lab
  http:
    service:
      spec:
        type: ClusterIP
  serviceAccount:
    name: fleet-server
