---
# Elasticsearch keystore management tasks
- name: Verify AWS S3 credentials are provided
  fail:
    msg: "AWS S3 credentials must be provided. Use -e s3_access_key_id=YOUR_KEY -e s3_secret_access_key=YOUR_SECRET"
  when: s3_access_key_id is not defined or s3_secret_access_key is not defined or s3_access_key_id == '' or s3_secret_access_key == ''

- name: Ensure elasticsearch user can write to config directory for keystore operations
  file:
    path: /etc/elasticsearch
    owner: root
    group: elasticsearch
    mode: '0775'

- name: Add AWS access key to Elasticsearch keystore
  shell: |
    echo "{{ s3_access_key_id }}" | /usr/share/elasticsearch/bin/elasticsearch-keystore add --stdin --force s3.client.default.access_key
  become_user: elasticsearch
  environment:
    ES_PATH_CONF: /etc/elasticsearch

- name: Add AWS secret key to Elasticsearch keystore
  shell: |
    echo "{{ s3_secret_access_key }}" | /usr/share/elasticsearch/bin/elasticsearch-keystore add --stdin --force s3.client.default.secret_key
  become_user: elasticsearch
  environment:
    ES_PATH_CONF: /etc/elasticsearch

- name: Add S3 endpoint to keystore (if provided)
  shell: |
    echo "{{ s3_endpoint }}" | /usr/share/elasticsearch/bin/elasticsearch-keystore add --stdin --force s3.client.default.endpoint
  when: s3_endpoint is defined and s3_endpoint != ''
  become_user: elasticsearch
  environment:
    ES_PATH_CONF: /etc/elasticsearch

- name: Set proper ownership of keystore file
  file:
    path: /etc/elasticsearch/elasticsearch.keystore
    owner: elasticsearch
    group: elasticsearch
    mode: '0660'

- name: Restore secure permissions on config directory
  file:
    path: /etc/elasticsearch
    owner: root
    group: elasticsearch
    mode: '0755'