apiVersion: v1
kind: Secret
metadata:
  labels:
    license.k8s.elastic.co/scope: operator
  name: eck-license
type: Opaque
data:
  # Elastic Cloud on Kubernetes (ECK) license in base64 format
  # Retrieve from Vault: vault kv get -field=license secret/homelab/elasticsearch/eck-license
  # Then base64 encode: echo -n "license-json" | base64
  license: REPLACE_WITH_BASE64_ENCODED_LICENSE
