apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: testpvc-iscsi
spec:
  storageClassName: freenas-iscsi-csi
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
