---
- name: Install Elastic Agent on all hosts
  hosts: all
  become: yes
  gather_facts: yes
  vars:
    elastic_agent_version: "9.1.3"
    fleet_server_url: "https://fleet.lab.thewortmans.org:8220"
    enrollment_token: "***REMOVED***"
    fleet_action: agent_install

  roles:
    - fleet

- name: Install Elastic Agent on Kubernetes nodes
  hosts: k8s
  become: yes
  gather_facts: yes
  vars:
    elastic_agent_version: "9.1.3"
    fleet_server_url: "https://fleet.lab.thewortmans.org:8220"
    enrollment_token: "***REMOVED***"
    fleet_action: agent_install

  roles:
    - fleet

- name: Install Elastic Agent on Infrastructure nodes
  hosts: infrastructure
  become: yes
  gather_facts: yes
  vars:
    elastic_agent_version: "9.1.3"
    fleet_server_url: "https://fleet.lab.thewortmans.org:8220"
    enrollment_token: "***REMOVED***"
    fleet_action: agent_install

  roles:
    - fleet