---
- name: Configure Elasticsearch keystore with AWS S3 credentials
  hosts: elasticsearch_all
  become: yes
  gather_facts: no
  vars:
    elasticsearch_action: keystore

  roles:
    - elasticsearch