---
- name: Configure Elasticsearch keystore with AWS S3 credentials
  hosts: elasticsearch_all
  become: yes
  gather_facts: no
  vars:
    elasticsearch_action: keystore
    s3_access_key_id: "{{ s3_access_key_id | default('') }}"
    s3_secret_access_key: "{{ s3_secret_access_key | default('') }}"
    s3_endpoint: "{{ s3_endpoint | default('') }}"

  roles:
    - elasticsearch