---
- name: Deploy Pi-hole with Docker
  hosts: pihole
  become: true
  gather_facts: true

  environment:
    VAULT_ADDR: "https://vault.lab.thewortmans.org:8200"
    VAULT_TOKEN: "{{ lookup('env', 'VAULT_TOKEN') }}"
    VAULT_SKIP_VERIFY: "true"

  vars:
    # Retrieve password from Vault
    # Vault path: secret/homelab/pihole/lab/credentials
    pihole_webpassword: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=secret/data/homelab/pihole/lab/credentials:webpassword') }}"
    pihole_dns1: "1.1.1.1"
    pihole_dns2: "8.8.8.8"
    pihole_timezone: "America/New_York"

  roles:
    - pihole
