---
# Velero namespace
# This namespace will contain Velero backup controller and related resources
apiVersion: v1
kind: Namespace
metadata:
  name: velero
  labels:
    app.kubernetes.io/name: velero
    app.kubernetes.io/component: backup
