---
- name: Deploy a basic Linux server
  hosts: all
  gather_facts: false
  tasks:
    - name: Update and upgrade apt packages
      become: true
      apt:
        update_cache: true
        upgrade: dist

    - name: Install basic packages
      become: true
      apt:
        name:
          - git
          - curl
          - vim
          - unzip 
          - python3-pip
          - zsh 
          - autoconf 
          - htop 
          - eslint 
          - gettext 
          - luajit 
          - neovim 
          - npm
          - stow 
          - tmux
          - openssl 
          - ripgrep 
          - fzf 
          - kitty-terminfo
        state: present

    - name: Test for dotfiles
      ansible.builtin.stat:
        path: ~/git/dotfile/.git
      register: file_check

    - name: Setup dotfiles and SSH keys for user bret
      become_user: bret
      block:
        - name: Ensure .ssh directory exists
          file:
            path: ~/.ssh
            state: directory
            mode: '0700'

        - name: Rsync SSH files from localhost
          shell: rsync -av /Users/bret/.ssh/github* /Users/bret/.ssh/config /Users/bret/.ssh/known_hosts {{ ansible_user }}@{{ inventory_hostname }}:.ssh/
          delegate_to: localhost
          connection: local

        - name: Create git directory
          file:
            path: ~/git
            state: directory

        - name: Clone dotfiles repository
          git:
            repo: git@github.com:wortmanb/dotfiles.git
            dest: ~/git/dotfiles
            clone: yes
            update: yes

        - name: Run linux setup script
          shell: ./__setup/linux.sh
          args:
            chdir: ~/git/dotfiles

        - name: Run setup script
          shell: ./setup.sh
          args:
            chdir: ~/git/dotfiles
      when: file_check.stat.exists == False

    - name: Change shell to zsh
      user:
        name: "{{ ansible_user }}"
        shell: /usr/bin/zsh
      become: true
      retries: 3
      delay: 5
