---
- name: Fix up Elasticsearch cluster configuration
  hosts: elasticsearch_all
  become: yes
  gather_facts: no

  tasks:
    - name: Remove cluster.initial_master_nodes setting
      lineinfile:
        path: /etc/elasticsearch/elasticsearch.yml
        regexp: '^#?cluster\.initial_master_nodes:'
        state: absent
        backup: yes

    - name: Remove any existing discovery.seed_nodes setting
      lineinfile:
        path: /etc/elasticsearch/elasticsearch.yml
        regexp: '^#?discovery\.seed_nodes:'
        state: absent

    - name: Add discovery.seed_nodes configuration
      lineinfile:
        path: /etc/elasticsearch/elasticsearch.yml
        line: 'discovery.seed_nodes: ["192.168.10.31:9300", "192.168.10.32:9300", "192.168.10.33:9300"]'
        backup: yes