---
# Version of Kibana.
#
version: 9.0.2

# Labels that will be applied to Kibana.
#
labels: {}
  # key: value

# Annotations that will be applied to Kibana.
#
annotations: {}
  # key: value

# Count of Kibana replicas to create.
#
count: 1

# Reference to ECK-managed Elasticsearch resource, ideally from {{ "elasticsearch.fullname" }}
#
elasticsearchRef:
  name: eck-elasticsearch
  # namespace: default
http:
  service:
    spec:
      # Type of service to deploy for Kibana.
      # This deploys a load balancer in a cloud service provider, where supported.
      #
      type: LoadBalancer
  tls:
    selfSignedCertificate:
      subjectAltNames:
      - ip: 192.168.10.50
      - ip: 192.168.10.56
      - dns: kibana.lab.thewortmans.org
      - dns: kibana.bwortman.us
